<%= form_for [:admin, @contest] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture, class: 'btn btn-default' %>
  </div>

  <!-- <img alt="preview" width="100" height="100" id="preview_image" /> -->
  <div class="gallery">
    
  </div>

  <br>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.cktext_area :description, class: 'form-control js-ckeditor' %>
  </div>
  <div class="row">
    <div class="form-group col-md-5" style="float: left;" >
      <%= f.label :start_date %>
      <%= f.date_select :start_date, value: Date.today, class: 'form-control'%>
    </div>
    <div class="form-group col-md-5" style="float: right;" >
      <%= f.label :end_date %>
      <%= f.date_select :end_date, value: Date.today, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>
