
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= root_path %>>COMPETITION</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href= <%#= incomes_path %>>INCOMES</a></li> -->

        </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href=<%= dashboard_contests_path %> ><b>Dashboard</b></a></li>
        <% end %>
        <li class="dropdown">
          <% if user_signed_in? %>
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><%= current_user.email %></b> <span class="caret"></span></a>
          <% else %>
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
          <% end %>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
                 <form class="form" role="form" method="post" action="/users/sign_in" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                      <% if user_signed_in? %>
                        <a data-no-turbolink="true" rel="nofollow" data-method="delete" href= <%= destroy_user_session_path %> class="btn btn-primary btn-block" >Sign out</a>
                      <% else %>
        								Login via
        								<div class="social-buttons">
        									<a href= <%= user_facebook_omniauth_authorize_path %> class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
        									<a href= <%= root_path %> class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
        								</div>
                                        or
												<a href= <%= new_user_session_path %> class="btn btn-primary btn-block" >Sign in</a>
          							<div class="bottom text-center">
          								New here ? <a href=<%= new_user_registration_path %>><b>Join Us</b></a>
          							</div>
                      <% end %>
                    </div>
                 </form>
              </div>
					 </div>
				</li>
			</ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<script>
    $(document).ready(function(){
        (function() {
            "use strict";
            if (window.location && window.location.hash) {
                if (window.location.hash === '#_=_') {
                    window.location.hash = '';
                    history.pushState('', document.title, window.location.pathname); // nice and clean
                }
            }
        }());
    });
</script>