<!DOCTYPE html>
<html>
  <head>
    <title>Competition</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    <%= render 'shared/footer' %>
  </body>
</html>
